<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">About us</h1>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/styles/img/tn8.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">"La mágia de crecer soñando"</h5>

                <p class="card-text">tiera nueva es una asociación dirigida por jóvenes voluntarios con liderazgo que
                    busca impactar vidas transmitiendo y promoviendo los valores a través de diferentes programas
                    continuos y eventos masivos.

                    Visión: tiera nueva busca ser el referente internacional de voluntariado para jóvenes; ser un eje de
                    apoyo integral para instituciones que educan y cuidan a la niñez.

                    Misión: Impactar la vida de niños y jóvenes para contribuir a formar un mundo más esperanzador,
                    alegre y solidario.

                    Valores: Alegría, Solidaridad, Esperanza, Liderazgo, Gratitud</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}