<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Donate</h1>
</div>

<div>
    <p class="card-text">¡Apoya la causa de Tierra Nueva!, si quieres ser parte de Tierra Nueva pero no puedes ser
        voluntario en alguno de nuestros eventos, puedes apoyar a la causa haciendo donativos de dos formas diferentes.
    </p>
</div>


<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Donativo via Paypal</h5>
        <p class="card-text">¿Cuanto te gustaría donar? Puedes donar $100, $300, $500, $1,000 o cualquier otra cantidad.
        </p>
        <a href="#" class="btn btn-primary">Donar</a>
    </div>
</div>

<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Donativo en Cuenta Bancarial</h5>
        <p class="card-text">BANCO, Tierra Nueva, A. C.
            No. De Cuenta: 000 0000 0000
            Clave: 0000 0000 0000 0000</p>
        <a href="#" class="btn btn-primary">Donar</a>
    </div>
</div>

<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Pide tu Recibo Deducible</h5>
        <p class="card-text">Te damos un recibo deducible si nos envías tu ficha de depósito a: contacto@tierranueva.org
        </p>
        <a href="#" class="btn btn-primary">Pedir Recibo</a>
    </div>
</div>



{% endblock %}