{% extends 'base.html' %}

{% block body %}
<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Tierra Nueva</h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card d-block h-100">
                <div class="card-body">
                    <h5 class="card-title">Aniversario</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                    <p class="card-text">Con el mismo compromiso de inicio, Tierra Nueva, sigue activamente promoviendo
                        con sus eventos y programas, el bienestar de la niñez más necesitada.</p>
                    <a href="#" class="card-link">Donar</a>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
            <img src="/static/styles/img/Screenshot 2023-08-29 at 5.43.58 PM.png" class="d-block h-100" alt="img1">
        </div>

        <div class="carousel-item ">
            <div class="card d-block h-100">
                <div class="card-body">
                    <h5 class="card-title">Eventos Masivos</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                    <p class="card-text">Creemos que un día de magía puede darle esperanza a los niños y despertar en
                        los jóvenes el deseo de ayudar, por esto organizamos en cada ciudad donde estamos, dos eventos
                        masivos cada año.</p>
                    <a href="#" class="card-link">!Quiero Ser Voluntario!</a>
                    <a href="#" class="card-link">Leer Más</a>
                </div>
            </div>
            <img src="/static/styles/img/Screenshot 2023-08-29 at 4.48.22 PM.png" class="d-block h-100" alt="img2">
        </div>



        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="card d-block h-100">
    <div class="card-body">
        <h5 class="card-title">Tierra Nueva</h5>
        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
        <p class="card-text">Soñar Despierto es una asociación dirigida por jóvenes voluntarios que busca transformar
            vidas transmitiendo y promoviendo los valores universales a través de los diferentes programas continuos y
            eventos masivos.</p>
        <a href="#" class="card-link">Card link</a>
        <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
</div>

<div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>

</div>

{% endblock %}