{% extends 'base.html' %}

{% block body %}


<!-- <div class="bg-light text-dark py-sm-5 topbar"> -->
<!-- <h1 class="mainHeading">Tierra Nueva</h1> -->
<!-- <img src="/static/styles/img/logo.png" class="d-block h-100" alt="img1">
</div> -->

<!-- CAROUSEL -->

<div id="carouselExampleIndicators" class="carousel slide">


    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card d-block h-100">
                <div class="card-body">
                    <h5 class="card-title">Aniversario</h5>
                    <img src="/static/styles/img/tn20.jpeg" class="d-block h-100" alt="img1">
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                    <p class="card-text">Con el mismo compromiso de inicio, Tierra Nueva, sigue activamente promoviendo
                        con sus eventos y programas, el bienestar de la niñez más necesitada.</p>
                    <a href="/templates/donate.html" class="card-link">Donar</a>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>

        </div>

        <div class="carousel-item ">
            <div class="card d-block h-100">
                <div class="card-body">
                    <h5 class="card-title">Eventos Masivos</h5>
                    <img src="/static/styles/img/tn15.jpeg" class="d-block h-100" alt="img2">
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                    <p class="card-text">Creemos que un día de magía puede darle esperanza a los niños y despertar en
                        los jóvenes el deseo de ayudar, por esto organizamos en cada ciudad donde estamos, dos eventos
                        masivos cada año.</p>
                    <a href="#" class="card-link">!Quiero Ser Voluntario!</a>
                    <a href="#" class="card-link">Leer Más</a>
                </div>
            </div>

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>

            </div>

        </div>

        <!-- CAROUSEL CONTROLS-->

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- TIERRA NUEVA CARD -->

<div class="tnCard d-block">
    <img src="/static/styles/img/tn10.jpeg" class="d-block" alt="img2">
    <div class="tnCard-body">
        <h5 class="tnCard-title">Tierra Nueva</h5>
        <p class="tnCardtext">Soñar Despierto es una asociación dirigida por jóvenes voluntarios que busca transformar
            vidas transmitiendo y promoviendo los valores universales a través de los diferentes programas continuos y
            eventos masivos.</p>
        <a href="#" class="tnCard-link">Card link</a>
    </div>
</div>

<!-- PROGRAM CARDS -->
<div>
    <div class="programCards">
        <div class="row">
            <div class="col-md-4">
                <div class="proCard">
                    <img src="/static/styles/img/color1.png" alt="Image 1" class="image1">
                    <img src="/static/styles/img/tn1.jpeg" alt="Image 2" class="image2">
                    <h2 class="himg2">test</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="proCard">

                    <img src="/static/styles/img/org.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn2.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body"> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p> -->
                    <!-- </div> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="proCard">
                    <img src="/static/styles/img/yel.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn3.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="proCard">
                    <img src="/static/styles/img/gre.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn4.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="proCard">
                    <img src="/static/styles/img/red.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn5.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="proCard">
                    <img src="/static/styles/img/blu.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn6.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SUPPORT CARDS -->

<h2>Apoya la causa</h2>
<div style="display: flex; justify-content: center;">
    <div class="supportCard" style="width: 50rem;">
        <!-- Increased width of the card -->
        <div class="supportCard-content">
            <div class="supportCard-img-container">
                <img src="/static/styles/img/tn16.jpeg" class="supportCard-img-top" alt="..."
                    style="max-width: 100%; height: auto; display: block;">
            </div>
            <div class="supportCard-body">
                <h5 class="supportCard-title">Card title</h5>
                <p class="supportCard-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="supportCard" style="width: 50rem;">
        <!-- Increased width of the card -->
        <div class="supportCard-content">
            <div class="supportCard-img-container">
                <img src="/static/styles/img/tn12.jpeg" class="supportCard-img-top" alt="..."
                    style="max-width: 100%; height: auto; display: block;">
            </div>
            <div class="supportCard-body">
                <h5 class="supportCard-title">Card title</h5>
                <p class="supportCard-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>



<!-- EVENT CARDS -->



<div>
    <div class="eventCard">
        <div class="row">
            <div class="col-md-4">
                <div class="eveCard">
                    <img src="/static/styles/img/color7.png" alt="Image 1" class="image1">
                    <img src="/static/styles/img/tn6.jpeg" alt="Image 2" class="image2">
                    <h2 class="himg2">test</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="eveCard">

                    <img src="/static/styles/img/yelorg.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn19.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body"> -->
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p> -->
                    <!-- </div> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="eveCard">
                    <img src="/static/styles/img/evergreen.png" alt="Image 1" class="image1">
                    <!-- <img src="/static/styles/img/color2.png" alt="Image 1" class="image1"> -->
                    <img src="/static/styles/img/tn4.jpeg" alt="Image 2" class="image2">
                    <!-- <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>


    </div>
</div>



<!-- NEWS CARDS -->
<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin-bottom: 20px;">

    <!-- <div class="card mb-3"> -->
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/styles/img/tn3.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/styles/img/tn7.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/styles/img/tn6.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/styles/img/tn5.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin-bottom: 20px;">
    <div class="card" style="width: 18rem;">
        <img src="image1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">News Title 1</h5>
            <p class="card-text">news41</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="image2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">News Title 2</h5>
            <p class="card-text">news2</p>
            <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
        </div>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px;">
    <div class="card" style="width: 18rem;">
        <img src="image3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">News Title 3</h5>
            <p class="card-text">news3</p>
            <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="image4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">News Title 4</h5>
            <p class="card-text">news4</p>
            <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
        </div>
    </div>
</div> -->


<!-- STORIES CAROUSEL -->
<!-- 
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> -->


<!-- CAROUSEL CONTROLS -->
<!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->

<!-- PROMO CARD -->
<!-- 
<div class="card d-block h-100">
    <div class="card-body">
        <h5 class="card-title">promo</h5>
    
        <p class="card-text">text</p>
        <a href="#" class="card-link">Card link</a>
      
    </div>
</div> -->

{% endblock %}